<nav aria-label="Breadcrumb">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/collections/womens-shirts">Women’s Shirts</a></li>
    <li><span aria-current="page">Limelight Yarn‑Dyed Embroidered Shirt</span></li>
  </ul>
</nav>
